@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  padding: 0 0px;
}

.ant-select-selection-item {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-items: center !important;
}

.ant-layout-sider-children {
  background: #013366;
}