@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* 
a {
  text-decoration: none !important;
} */

body {
  padding: 0 0px;
}

.ant-select-selection-item {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-items: center !important;
}

.ant-layout-sider-children {
  background: #013366;
}